<form id="pagerForm" method="post" action="#rel#">
    <input type="hidden" name="pageNum" value="{{ info['pageNum'] }}"/>
    <input type="hidden" name="numPerPage" value="{{ info['numPerPage'] }}"/>
</form>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>title信息</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<div class="pageHeader">
    <form rel="pagerForm" onsubmit="return navTabSearch(this);" action="/" method="post">
        <div class="searchBar">
            <ul class="searchContent">

                <li>
                    <label>IP：</label>
                    <input type="text" name="ip_range" value="{{ info['params'].get("ip_range","") }}"/>
                </li>

            </ul>
            <div class="subBar">
                <ul>
                    <li>
                        <div class="buttonActive">
                            <div class="buttonContent">
                                <button type="submit">检索</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>


<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2>网段<span style="color: #337ab7">Title/FingerPrint</span>扫描</h2>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="active">
            <a href="/">扫描结果页面</a>
        </li>
        <li>
            <a href="/newScanTask">新建扫描任务</a>
        </li>
        <li>
            <a href="/subDomainScan">子域名爆破</a>
        </li>
    </ul>
    <table class="table  table-bordered">
        <tbody>
        <tr>
            <th width="30">Url</th>
            <th width="60">Title</th>
            <th width="60">Fingerprint</th>
            <th width="60">CTime</th>
            <th width="60">IP_range</th>
        </tr>
        </tbody>
        <tbody>
        {% for i in info['items'] %}
            <tr target="sid_user" rel="10">
                <td>
                    <a href="{{ i['url'] }}" title="网页链接" target="_blank">{{ i['url'] }}</a>
                </td>
                <td>{{ i['title'] }}</td>
                <td>
                    {% if i['fingerprint'] == 	[] %}Null
                    {% else %}  {% for k in i['fingerprint'] %}
                        <span style="color: gray">{{ k.split(':')[0] }}</span>:
                        <span style="color: #337ab7">{{ k.split(':')[1] }}
                        <br>
                    {% endfor %}
                    {% endif %}
                </td>
                <td>{{ i['create_time'] }}</td>
                <td>{{ i['ip_range'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="panelBar">
        <div class="pages">
            <span>共{{ info['totalCount'] }}条</span>
        </div>
    </div>
    <ul class="pagination pagination-right">

        <li>{% if info['currentPage'] > 1 %}
            <a href="/scanner/find?page={{ info['currentPage'] - 1 }}">上一页 «</a>
        {% endif %}</li>

        <li class="active"><a href="/scanner/find?page={{ info['currentPage'] }}">{{ info['currentPage'] }}</a>
        </li>

        <li>{% if info['currentPage'] < info['page_num'] %}
            <a href="/scanner/find?page={{ info['currentPage'] + 1 }}">下一页 »</a>{% endif %}</li>
    </ul>
</div>