<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>title信息</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2>网段<span style="color: #337ab7">Title/FingerPrint</span>扫描</h2>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li>
            <a href="/">扫描结果页面</a>
        </li>
        <li>
            <a href="/newScanTask">新建扫描任务</a>
        </li>
        <li class="active">
            <a href="/subDomainScan">子域名爆破</a>
        </li>
    </ul>

    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="preview">请填写域名</div>
            <div class="view">
                <form>
                    <fieldset>
                        <input type="text" id="domain1"  placeholder="Type something…">
                        <span class="help-block" contenteditable="true">如 <span style="color: #337ab7">qq.com</span></span>
                        <button type="submit" class="btn" contenteditable="true" id="button1">提交</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/1.12.2/jquery.js"></script>
<script>
    $(function () {
        $("#button1").click(function () {
            var domain_val = $('#domain1').val();
            if (domain_val.length == 0) {
                alert("请填写ip1");
            }
            else {
                var data = {
                    "domain": domain_val
                }

                $.ajax({
                    type: "POST",
                    url: "/subDomainScan",
                    data: data,
                    dataType: "JSON",
                    success: function (result) {
                        alert(result.msg);
                    }
                })
            }
        })

    })
</script>

</html>